[Unit]
Description=Command Line Assistant Daemon Development Service
Documentation=https://github.com/rhel-lightspeed/command-line-assistant
After=network.service

[Service]
# https://systemd.io/CREDENTIALS/
LoadCredential=certificate:{{ FAKE_DEVEL_CERTIFICATE }}
PrivateTmp=yes
RemainAfterExit=no
ExecStart={{ EXEC_START }}

[Install]
WantedBy=multi-user.target
Alias=clad.service
