policy_module(clad, 1.0.0)

########################################
#
# Declarations
#

type clad_t;
type clad_exec_t;
domain_type(clad_t)
domain_entry_file(clad_t, clad_exec_t)
role system_r types clad_t;

permissive clad_t;

type clad_etc_rw_t;
files_type(clad_etc_rw_t)

type clad_tmp_t;
files_tmp_file(clad_tmp_t)

type clad_var_lib_t;
files_type(clad_var_lib_t)

########################################
#
# clad local policy
#

## <desc>
##	<p>
##
##	</p>
## </desc>
gen_tunable(clad_write_conf, false)

optional_policy(`
	dbus_system_domain(clad_t, clad_exec_t)
')

tunable_policy(`clad_write_conf',`
	rw_files_pattern(clad_t, clad_etc_rw_t, clad_tmp_t, clad_var_lib_t)
')

manage_dirs_pattern(clad_t, clad_etc_rw_t, clad_etc_rw_t)
manage_files_pattern(clad_t, clad_etc_rw_t, clad_etc_rw_t)
manage_lnk_files_pattern(clad_t, clad_etc_rw_t, clad_etc_rw_t)
files_etc_filetrans(clad_t, clad_etc_rw_t, { dir file lnk_file })

manage_dirs_pattern(clad_t, clad_tmp_t, clad_tmp_t)
manage_files_pattern(clad_t, clad_tmp_t, clad_tmp_t)
manage_lnk_files_pattern(clad_t, clad_tmp_t, clad_tmp_t)
files_tmp_filetrans(clad_t, clad_tmp_t, { dir file lnk_file })

manage_dirs_pattern(clad_t, clad_var_lib_t, clad_var_lib_t)
manage_files_pattern(clad_t, clad_var_lib_t, clad_var_lib_t)
manage_lnk_files_pattern(clad_t, clad_var_lib_t, clad_var_lib_t)
files_var_lib_filetrans(clad_t, clad_var_lib_t, { dir file lnk_file })

sysnet_dns_name_resolve(clad_t)
corenet_all_recvfrom_unlabeled(clad_t)

allow clad_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(clad_t)
corenet_tcp_sendrecv_generic_node(clad_t)
corenet_tcp_sendrecv_all_ports(clad_t)
corenet_tcp_connect_http_port(clad_t)

domain_use_interactive_fds(clad_t)

files_read_etc_files(clad_t)

logging_send_syslog_msg(clad_t)

miscfiles_read_localization(clad_t)
